In [1]:
#Dependencies
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
from sklearn.utils import shuffle

In [3]:
data_csv = pd.read_csv("student-mat.csv", sep=";")
data_df = pd.DataFrame(data_csv)
data_df
#LEGEND:
#M/Fedu - Education for parents: 0-none, 1-primary, 2-grade 5 to 9, 3-secondary edu, 4-higher edu
#abscenses - total abscenses: 0-93
#studytime - weekly study time: 1-<2 hours, 2-2to5hr, 3-5to10hr, 4->10hr
#internet - Internet access at home Y/N = 0/1
#activities - extracurricular activities Y/N = 0/1
#Pstatis - living together or apart T/A = 0/1
#romantic - in a relationship Y/N = 0/1
#paid - extra paid classes related to course Y/N = 0/1
#famrel - Family Relation Status 1(very bad)-5(excellent) 
#sex - M/F = 0/1

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [59]:
#Create new dataframe, keeping only the columns we are interested in
data = data_df[["G1","G2","G3","sex", "Medu", "Fedu", "absences", "internet", "studytime", "failures", "activities", "Pstatus", "romantic", "paid","famrel"]]
data1 = pd.DataFrame(data)
#Replacing str values with 0 and 1 to make it readable for the linear regression model
data1.replace('F',1,inplace=True)
data1.replace('M',0,inplace=True)
data1.replace('yes',0,inplace=True)
data1.replace('no',1,inplace=True)
data1.replace('A',1,inplace=True)
data1.replace('T',0,inplace=True)
data2 = data.copy()
data_binary = pd.get_dummies(data2, columns=["sex", "internet", "activities", "Pstatus", "romantic", "paid"])
pd.set_option('max_columns', None)
data_binary.head()

,G1,G2,G3,Medu,Fedu,absences,studytime,failures,famrel,sex_1,sex_M,internet_no,internet_yes,activities_no,activities_yes,Pstatus_A,Pstatus_T,romantic_no,romantic_yes,paid_no,paid_yes
0,5,6,6,4,4,6,2,0,4,1,0,1,0,1,0,1,0,1,0,1,0
1,5,5,6,1,1,4,2,0,5,1,0,0,1,1,0,0,1,1,0,1,0
2,7,8,10,1,1,10,2,3,4,1,0,0,1,1,0,0,1,1,0,0,1
3,15,14,15,4,2,2,3,0,3,1,0,0,1,0,1,0,1,0,1,0,1
4,6,10,10,3,3,4,2,0,4,1,0,1,0,1,0,0,1,1,0,0,1

In [60]:
data_binary.rename(columns={"sex_1": "sex_f", "sex_M": "sex_m"})

,G1,G2,G3,Medu,Fedu,absences,studytime,failures,famrel,sex_f,sex_m,internet_no,internet_yes,activities_no,activities_yes,Pstatus_A,Pstatus_T,romantic_no,romantic_yes,paid_no,paid_yes
0,5,6,6,4,4,6,2,0,4,1,0,1,0,1,0,1,0,1,0,1,0
1,5,5,6,1,1,4,2,0,5,1,0,0,1,1,0,0,1,1,0,1,0
2,7,8,10,1,1,10,2,3,4,1,0,0,1,1,0,0,1,1,0,0,1
3,15,14,15,4,2,2,3,0,3,1,0,0,1,0,1,0,1,0,1,0,1
4,6,10,10,3,3,4,2,0,4,1,0,1,0,1,0,0,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,9,9,9,2,2,11,2,2,5,0,1,1,0,1,0,1,0,1,0,0,1
391,14,16,16,3,1,3,1,0,2,0,1,0,1,1,0,0,1,1,0,1,0
392,10,8,7,1,1,3,1,3,5,0,1,1,0,1,0,0,1,1,0,1,0
393,11,12,10,3,2,0,1,0,4,0,1,0,1,1,0,0,1,1,0,1,0
394,8,9,9,1,1,5,1,0,3,0,1,0,1,1,0,0,1,1,0,1,0

In [86]:
#Linear Regression model
predict = "G3"
x = np.array(data_binary.drop([predict], 1))
y = np.array(data_binary[predict])
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x, y, test_size = .2, random_state=8)
linear = linear_model.LinearRegression()
linear.fit(x_train, y_train)
acc = linear.score(x_test, y_test)
print(acc)
print(linear.coef_)
print(linear.intercept_)

0.9005388034835672
[ 0.17669579  0.96403809  0.11804378 -0.12349377  0.03696995 -0.11027801
 -0.11602229  0.31145409 -0.02617281  0.02617281  0.07926368 -0.07926368
  0.1774553  -0.1774553   0.16919663 -0.16919663  0.20323409 -0.20323409
 -0.05138488  0.05138488]
-2.97265380966628

In [87]:
predictions = linear.predict(x_test)
for x in range(len(predictions)):
    print(predictions[x], x_test[x], y_test[x])
#How to read: EV[G1, G2, sex, Medu, Fedu, abscences, internet, studytime, failures, activities, Pstatus, romantic, paid, famrel]AV
#EV - Expected Value, AV - Actual Value

13.570036150590468 [12 14  3  1  1  3  0  3  1  0  0  1  1  0  0  1  1  0  1  0] 15
8.115542019973267 [8 9 1 2 4 2 0 3 0 1 1 0 1 0 0 1 1 0 1 0] 10
8.854931815428836 [10 10  4  3  0  2  0  4  1  0  0  1  0  1  0  1  0  1  1  0] 10
14.051191727623152 [15 13  4  4  9  2  0  5  0  1  0  1  0  1  1  0  1  0  0  1] 15
5.4719257992449055 [5 6 4 4 6 2 0 4 1 0 1 0 1 0 1 0 1 0 1 0] 6
4.423595856548042 [8 6 1 1 2 2 2 3 1 0 0 1 1 0 0 1 0 1 1 0] 5
9.501097847389087 [ 9  9  2  2 11  2  2  5  0  1  1  0  1  0  1  0  1  0  0  1] 9
7.113801641047955 [ 8  8  3  3 10  4  0  4  1  0  0  1  0  1  0  1  1  0  0  1] 8
9.200660548116922 [ 6 10  3  3  4  2  0  4  1  0  1  0  1  0  0  1  1  0  0  1] 10
-0.9345771894783663 [7 0 1 2 0 1 1 4 0 1 1 0 0 1 0 1 1 0 1 0] 0
-0.8425251237557139 [11  0  4  4  0  3  0  4  1  0  0  1  0  1  0  1  0  1  1  0] 0
18.887748723942277 [16 18  3  2  0  2  0  4  0  1  0  1  1  0  1  0  1  0  0  1] 19
12.92593230697126 [12 13  2  2  2  2  0  4  1  0  0  1  1  0  0  1  1  0  0  1] 13
14.482594702823015 [16 15  4  4  5  1  0  1  0  1  0  1  1  0  0  1  0  1  0  1] 16
7.0335025651951675 [6 8 3 2 0 1 1 4 0 1 0 1 1 0 0 1 1 0 1 0] 8
6.35314620861041 [7 7 3 1 4 4 0 4 1 0 0 1 1 0 0 1 1 0 0 1] 6
18.996559769565327 [19 18  4  4  0  3  0  5  1  0  0  1  1  0  0  1  1  0  1  0] 19
8.733154244516903 [ 7 10  3  4  0  2  0  5  1  0  0  1  0  1  1  0  0  1  1  0] 11
9.921841889536823 [11  9  3  2 19  1  1  4  0  1  0  1  1  0  1  0  1  0  1  0] 10
8.533336678789642 [ 8  8  4  1 30  1  0  4  0  1  0  1  0  1  1  0  0  1  0  1] 8
14.022324111543295 [14 15  2  4  0  2  0  4  1  0  0  1  0  1  0  1  0  1  1  0] 15
15.315487888885542 [15 16  4  4  7  3  0  2  0  1  0  1  0  1  1  0  0  1  1  0] 15
11.514340798343566 [12 12  3  3 12  2  0  4  0  1  0  1  0  1  0  1  0  1  1  0] 11
15.22953665292929 [14 15  4  3  0  2  0  4  1  0  0  1  0  1  1  0  1  0  0  1] 15
11.537340072895132 [13 13  4  4  4  4  0  1  0  1  0  1  0  1  1  0  0  1  1  0] 12
7.61045025036964 [10  8  2  1 14  2  0  4  0  1  0  1  0  1  0  1  0  1  0  1] 9
17.18024152311207 [16 17  2  4  0  2  0  5  1  0  1  0  0  1  0  1  1  0  1  0] 17
18.597304678077204 [16 18  3  4  0  2  0  5  0  1  0  1  0  1  1  0  1  0  0  1] 18
2.735425346890886 [6 5 1 1 0 2 1 1 1 0 1 0 0 1 0 1 1 0 1 0] 0
5.363342151445201 [6 7 3 2 0 2 3 3 1 0 0 1 1 0 0 1 1 0 1 0] 0
14.710237302073487 [14 15  4  4  4  3  0  5  1  0  0  1  0  1  0  1  0  1  0  1] 16
10.942264070602397 [ 9 12  4  4  3  3  0  4  0  1  0  1  0  1  0  1  1  0  1  0] 11
14.292748549717587 [15 14  4  2  4  3  2  5  1  0  0  1  1  0  0  1  0  1  0  1] 15
8.384657207442546 [9 9 2 1 8 2 0 5 0 1 0 1 0 1 0 1 0 1 1 0] 9
7.369988774523028 [ 9  8  4  3 10  2  0  3  0  1  0  1  0  1  0  1  1  0  0  1] 8
8.362996763948088 [8 9 2 2 2 2 0 4 1 0 0 1 1 0 0 1 1 0 0 1] 8
9.04101890381674 [ 8 10  4  4  0  1  0  3  1  0  0  1  1  0  0  1  1  0  0  1] 11
7.397115698194639 [ 6  9  2  2 14  1  2  1  1  0  0  1  1  0  0  1  1  0  0  1] 8
9.550363173515706 [10 10  2  2 14  2  1  4  1  0  0  1  0  1  0  1  1  0  1  0] 9
11.549432033033916 [10 12  2  1  4  3  0  5  1  0  0  1  0  1  0  1  1  0  1  0] 12
8.596778813324754 [8 9 2 1 8 2 0 5 1 0 0 1 0 1 1 0 0 1 0 1] 10
3.8201919675086504 [ 6  5  1  2 14  1  0  3  1  0  0  1  0  1  0  1  1  0  1  0] 5
8.696260681689044 [11  9  3  2 10  3  0  5  0  1  0  1  0  1  0  1  0  1  1  0] 10
9.703942206745742 [10 10  2  2  4  2  0  4  0  1  0  1  1  0  0  1  1  0  1  0] 10
13.053548507739272 [15 13  1  1 14  3  2  4  1  0  0  1  1  0  0  1  0  1  1  0] 13
6.2046682058458575 [ 7  6  2  2 18  1  0  5  1  0  0  1  1  0  0  1  1  0  1  0] 6
9.051500294692424 [ 9 10  1  1  2  2  0  4  1  0  0  1  0  1  0  1  1  0  1  0] 10
10.746728585630153 [ 9 11  4  4  0  2  0  5  0  1  0  1  1  0  0  1  1  0  0  1] 12
6.497998168785328 [ 8  6  4  4 18  2  0  4  0  1  1  0  1  0  1  0  1  0  1  0] 7
10.810260347033491 [11 11  4  4  2  2  0  4  1  0  0  1  1  0  0  1  1  0  0  1] 11
10.898944089287246 [11 11  4  4  0  1  0  4  0  1  0  1  1  0  0  1  1  0  0  1] 10
12.538286057605326 [12 13  2  1  6  1  1  4  0  1  1  0  0  1  0  1  0  1  1  0] 14
14.183395697208343 [11 15  4  3  2  1  0  3  0  1  0  1  0  1  0  1  1  0  1  0] 15
10.497810745242795 [11 12  4  3 10  2  0  1  1  0  0  1  0  1  0  1  0  1  0  1] 13
6.143551049157738 [ 6  7  2  2 15  2  1  4  0  1  0  1  0  1  0  1  1  0  0  1] 8
3.4918347853534772 [ 5  5  3  4 12  2  0  2  1  0  0  1  1  0  0  1  1  0  1  0] 5
7.4214568263660805 [ 6  8  3  1 16  1  3  5  0  1  0  1  1  0  0  1  0  1  1  0] 8
16.481451778531575 [15 16  4  2  2  2  0  4  1  0  0  1  1  0  0  1  1  0  1  0] 16
4.827065419462123 [7 6 2 1 5 1 0 4 0 1 0 1 0 1 0 1 0 1 1 0] 7
9.153764344862902 [ 8 10  3  3  0  2  0  5  0  1  0  1  0  1  0  1  1  0  1  0] 12
7.422180144853616 [8 8 1 1 4 1 1 4 0 1 0 1 1 0 0 1 1 0 1 0] 8
15.21484871601648 [15 15  4  2  2  2  0  4  0  1  0  1  0  1  0  1  1  0  1  0] 16
-1.1357065002985387 [8 0 1 1 0 1 0 4 1 0 0 1 0 1 0 1 0 1 1 0] 0
12.174032565555303 [13 12  3  2  1  3  0  5  0  1  1  0  0  1  0  1  1  0  1  0] 12
11.380927534753248 [12 11  3  2 16  1  1  4  0  1  1  0  0  1  0  1  1  0  1  0] 12
11.238162061477489 [12 11  2  3  2  2  0  5  0  1  0  1  1  0  0  1  1  0  0  1] 12
9.407825879355133 [ 8 10  3  3  4  2  0  5  1  0  1  0  0  1  0  1  1  0  1  0] 10
12.965858941785775 [14 13  4  4  2  2  0  4  0  1  0  1  0  1  0  1  1  0  0  1] 13
8.961827717371746 [9 9 1 1 6 1 0 4 1 0 1 0 1 0 0 1 1 0 0 1] 10
7.666054560140672 [ 9  8  3  1 16  2  1  5  1  0  0  1  0  1  0  1  0  1  1  0] 7
12.070147514819864 [13 12  4  4  0  1  0  5  0  1  0  1  0  1  0  1  1  0  1  0] 12
9.810196861298902 [10 10  1  3  2  1  0  5  0  1  0  1  1  0  0  1  1  0  1  0] 10
12.546399338454602 [14 12  3  3  4  1  0  4  0  1  0  1  1  0  0  1  1  0  0  1] 11
-1.4940107485981122 [5 0 3 2 0 1 3 4 0 1 0 1 1 0 0 1 0 1 1 0] 0
18.806929356115372 [18 18  2  2  5  3  0  4  1  0  0  1  1  0  0  1  1  0  0  1] 19
10.55017596034137 [12 11  1  2  0  2  0  3  1  0  1  0  1  0  0  1  1  0  1  0] 12
6.903393513362838 [9 8 2 2 0 2 1 3 1 0 0 1 1 0 1 0 0 1 1 0] 0
10.59253525397287 [11 11  2  2  4  2  0  4  0  1  0  1  0  1  0  1  1  0  0  1] 11
3.153041433379899 [6 5 1 1 0 3 1 4 1 0 1 0 0 1 0 1 0 1 1 0] 0

In [ ]:
#(actual y value, predictions - actual y value)
#Use examples for binary encoding
#Set seed!!